*~
*.a4
*.pyc
*.datasets
*.grl
*.root
*.pdf
*.eps
*.ps

/build/
/build-*/

install/
InstallArea/
D3PDMakerA4/

tmp/

miniboost/
protobuf/
snappy/

# Sources
/miniboost-*.tar.*
/protobuf-*.tar*
/snappy-*.tar*

# WAF files
/.lock-waf_linux2_build
/.unittest-gtest/
/.waf-*/

