*~
*.a4
*.pyc
*.datasets
*.grl
*.root
*.pdf
*.eps
*.ps

/build*/

install/
InstallArea/
D3PDMakerA4/

tmp/

miniboost/
protobuf/
snappy/

# Sources
/miniboost-*.tar.*
/protobuf-*.tar*
/snappy-*.tar*

# WAF files
/.lock-waf_linux2_build
/.unittest-gtest/
/.waf-*/

/a4store/.lock-waf_linux2_build
/a4store/.waf-*/
/a4store/build*/
